.image-section {
    flex: 2;
    background-image: url('../images/train3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh; 
}
p {
    text-align: center;
    margin-top: 20px;
}
.dropdown-menu {
    background-color: #555;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #555;
    color: #00aaff;
}